@import "./config/global";
 
.container {
    // 寫法可參考範例 http://oddbird.net/2017/06/13/susy-spread/
    @include susy-breakpoint($mobile) {
        background: svg-grid() no-repeat scroll;
        height: 100%;
        margin: 0 gutter();
    }
    @include susy-breakpoint($pad) {
        background: svg-grid() no-repeat scroll;
        margin: 0 gutter();
    }
    @include susy-breakpoint($desktop) {
        background: svg-grid() no-repeat scroll;
        margin: 0 gutter();
    }
}
 
.span {

    @include susy-breakpoint($mobile) {
        width: span(4);
        background: #d85555;
        color: white;
        font-size: 26px;
        height: 120px;
        text-align: center;
    }
    @include susy-breakpoint($pad) {
        width: span(6);
        background: #22af92;
    }
    @include susy-breakpoint($desktop) {
        width: span(10);
        background: #5f7bca;
    }
    
    
}


